<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    
    <title>Adda15</title>
    
    <!--CSS-->
    <!--<link rel="stylesheet" href="css/home.css">-->
    <!--BS4-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Lobster GoogleFont-->
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <!--Acme GoogleFont-->
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
   
    <style>
        #hbd
        {
            /*background-color: #e8ae02;*/
            background-image :url(https://www.futuristgerd.com/wp-content/uploads/2018/02/mobile-week-barcelona-future-is-now-7-key-principles-gerd-leonhard.031.jpeg);
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
        }
        
        #logo
        {
            margin:auto;
            padding-top:15%;
            /*background-color:blue;*/
            height: 500px;
            width:500px;
            
        }
        #dashboardBdy
        {
            background-color: linen;
            margin-top:2%;
        }
        .btn
        {
            margin-top:5%;
            padding-left:10%;
            padding-right:10%;
            margin-left:2%;
        }
        h1
        {
            font-family: 'Lobster', cursive;
            color:#02013d;
            font-size: 5em;
            text-shadow: 0 0 10px #ffffff;
        }
        input
        {
           text-align:center;
        }

        h1
        {
            font-family: 'Lobster', cursive;
            color:#02013d;
            font-size: 5em;
            text-shadow: 0 0 10px #ffffff;
        }
        #chtrm
        {
            /*background-color: #f8bb25;*/
            background-image :url(https://www.xmple.com/wallpaper/linear-blue-turquoise-gradient-1920x1080-c2-1cfea9-1c51fe-a-195-f-14.svg);
            width: 100vw;
            height: 100vh;
            background-size: 100% 100%;
            /*margin-top:2%;*/
        }
        #options
        {
            /*background-color:red;*/
            height:50vh;
            width:30vw;
            float: left;
            margin-left:28%;
            border-radius:32px;
            margin-top:5%;
            
        }
        #history
        {
            background-color:black;
            height:60vh;
            width:30vw;
            float: left;
            margin-left:8%;
            border-radius:32px;
            padding:2%;
        }
        #chtrmbdy
        {
            /*background-color:blue;*/
            overflow:auto;
            
        }
        h2
        {
            font-family: 'Acme', sans-serif;
            color: #ffffff;
            text-align:center;
        }
        #sd1
        {
            background-color: purple;
            height: 70vh;
            width: 70vw;
            margin:0 auto;
            border-radius:16px;
        }
        #sd2
        {
            background-color: #303130;
            height: 70vh;
            width: 15vw;
            float:left;
            overflow:auto;
            border-radius:16px;
        }
        #sd3
        {
            background-color: white;
            height: 70vh;
            width: 55vw;
            float:left;
            overflow:auto;
            border-radius:16px;
        }
        #sd4
        {
            background-color:#d8dbd5;
            height:63.5vh;
            width: 55vw;
            overflow:auto;
        }
        #sd5
        {
            background-color:white;
            height:3vh;
            width: 55vw;
        }
        #members
        {
            /*background-color:blue;*/
            width:15vw;
            height:40vh;
            overflow:auto;
            padding-top:2%;
        }
        #timer
        {
            /*background-color:red;*/
            width:15vw;
            height:20vh;
            overflow:auto;
            padding-top:2%;
       
        }
        .messageDiv
        {
            background-color:#4ec95d;
            text-align: left;
            padding:1%;
            color:white;
            font-weight:bold;
            display: inline-block;
            border-radius: 16px;;
        }
    </style>
    
    
</head>
